.notification-pop {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .notification-message {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  